
.vscode/*

awr1642/dvt/*
awr1642/.metadata/*
awr1642/.jxbrowser-data
awr1642/RemoteSystemsTempFiles

awr1642/srrdemo_16xx_dss/c674x_linker.cmd
awr1642/srrdemo_16xx_dss/.ccsproject
awr1642/srrdemo_16xx_dss/.cproject
awr1642/srrdemo_16xx_dss/Debug/**
awr1642/srrdemo_16xx_dss/dss_srr_linker.cmd
awr1642/srrdemo_16xx_dss/dss_srr.cfg
awr1642/srrdemo_16xx_dss/.project
awr1642/srrdemo_16xx_dss/Release/*
awr1642/srrdemo_16xx_dss/.settings/*
awr1642/srrdemo_16xx_dss/src/*
awr1642/srrdemo_16xx_dss/targetConfigs/*
awr1642/srrdemo_16xx_dss/.xdchelp
awr1642/srrdemo_16xx_dss/.launches/*
awr1642/srrdemo_16xx_dss/.gitignore
awr1642/.gitignore

awr1642/srrdemo_16xx_mss/.ccsproject
awr1642/srrdemo_16xx_mss/.cproject
awr1642/srrdemo_16xx_mss/Debug/*
awr1642/srrdemo_16xx_mss/.launches/*
awr1642/srrdemo_16xx_mss/mss_srr.cfg
awr1642/srrdemo_16xx_mss/mss_srr_linker.cmd
awr1642/srrdemo_16xx_mss/.project
awr1642/srrdemo_16xx_mss/r4f_linker.cmd
awr1642/srrdemo_16xx_mss/Release/*
awr1642/srrdemo_16xx_mss/.settings/*
awr1642/srrdemo_16xx_mss/src/*
awr1642/srrdemo_16xx_mss/targetConfigs/*
awr1642/srrdemo_16xx_mss/.xdchelp
awr1642/srrdemo_16xx_mss/.gitignore

raspberrypi/.vscode/*
raspberrypi/scripts/__pycache__/*
raspberrypi/scripts/settings.cfg
raspberrypi/scripts/test.py
raspberrypi/scripts/test.sh


